.banner {
	background-image: url(https://images.unsplash.com/photo-1524368535928-5b5e00ddc76b?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
	color: white;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
}



.banner h1 {
	font-size: 50px;

}
.banner h2 {
	font-size: 30px;
	font-weight: lighter;
	opacity: 0.8;
	margin-bottom: 40px;

}
